[user]
  name = Jorge Israel Peña
  email = jorge.israel.p@gmail.com
[core]
  editor = vim
  pager = less -+$LESS -FRX
[alias]
  au = add -u
  br = branch
  bri = branch -vv
  bs = bisect
  ci = commit
  cl = clone
  co = checkout
  cp = cherry-pick
  df = diff
  dfw = diff --word-diff
  dfc = diff --cached
  dfcw = diff --cached --word-diff
  dft = difftool
  dftc = difftool --cached
  gr = grep --break --heading --line-number
  lg = log --graph --oneline --format='%C(green)%h%C(auto)%d%Creset %C(magenta)%aN%Creset %s %C(yellow)%cr%Creset'
  mrg = merge
  re = remote
  rb = rebase
  rs = reset
  rh = reset --hard
  rmc = rm --cache --
  rup = remote update
  sb = status -sb
  sh = stash
  sm = submodule
  st = status
  vs = !gitx --all
[color]
  ui = true
  branch = auto
  diff = auto
  grep = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[push]
  default = simple
[grep]
  extendRegexp = true
  lineNumber = true
[github]
  user = blaenk
