.DS_Store

vim/.vim/bundle/
vim/.vim/unite/
vim/.vim/spell/
vim/.vim/.VimballRecord
vim/.vim/.netrwhist

zsh/zsh/antigen/
zsh/zsh/cache/

xmonad/.xmonad/history
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o

mpv/.mpv/watch_later/
