vim/.vim/bundle
vim/.vim/bundle/*
vim/.vim/unite
.DS_Store
vim/.vim/.VimballRecord
vim/.vim/.netrwhist
zsh/zsh/antigen

xmonad/.xmonad/history
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
