[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:blaenk/oh-my-zsh.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/cocoa.vim"]
	path = vim/bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
