vim/vim.ln/bundle
vim/vim.ln/bundle/*
vim/vim.ln/unite
.DS_Store
vim/vim.ln/.VimballRecord
vim/vim.ln/.netrwhist
zsh/zsh/antigen

xmonad/xmonad.ln/history
xmonad/xmonad.ln/xmonad-x86_64-linux
xmonad/xmonad.ln/xmonad.errors
xmonad/xmonad.ln/xmonad.hi
xmonad/xmonad.ln/xmonad.o
